{% extends 'base.html.twig' %}
{% block title 'Tous nos biens' %}


{% block body %}
    <div class="jumbotron">
       <h1>Les Biens</h1>
    </div>
        <div class="container">
             {{form_start(form)}}
             <div class="form-row ">
                <div class="col">{{form_row(form.minSurface)}}</div>
                <div class="col">{{form_row(form.maxPrice)}}</div>
                
                    <div class="col">
                        <button class="btn btn-primary">Rechercher</button>
                    </div>

                <div class="col">
                    
                </div>
            </div> 
            {{form_end(form)}}
        </div>
    </div>

        <div class="container m-4">
                <h1>Tous nos Biens</h1>
                    <div class="row">
                        {% for property in properties %}
                            <div class="col-md-3">
                                {% include 'property/_property.html.twig' %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="navigation">
                        <div class="pagination">
                            {{ knp_pagination_render(properties) }}
                    </div> 
                    </div>
         </div> 
      </div>
    </div>
{% endblock %}